:root {
    --font-family: 'Arial', sans-serif;
    --font-color: #000;
    --background-color: #fff;
    --primary-color: #007BFF;
    --hover-color: #0056b3;
    --margin: 4%;
    --header-image-size: 90px; /* Define a default size for the header image */
}

body {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 300;
    background-color: var(--background-color);
    color: var(--font-color);
    margin: var(--margin);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-bottom: 1px solid var(--font-color);
    text-align: center;
}

header img {
    vertical-align: middle;
    height: var(--header-image-size); /* Use the variable to control image size */
}

header h1 {
    margin-left: 20px;
    font-size: 2.5em;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

ul li, ol li {
    font-size: 14px;
    line-height: 20px;
}

ul li {
    margin-left: -3%;
}

ol li {
    margin-left: -2%;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    transition: color 0.3s;
}

a:hover {
    text-decoration: underline;
    color: var(--hover-color);
}

img {
    max-width: 100%;
    height: auto;
}
