body {
	font-family: avenir;
	font-size:14px;
	font-weight: lighter;
	background-color: rgb(255,255,255);
	margin: 4%;
}
h1 {
	font-size:22px;
}
h2 {
	font-size:18px;
}
ul li {
	margin-left: -5%;
	font-size:14px;
	line-height: 20px;
}
ol li {
	margin-left: -2%;
	line-height: 20px;
}
